.consult-btn {
  width: fit-content;
  border: none;
  background: #4fbb5b;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .5px;
  color: var(--light-color);
  padding: 20px;
  border-radius: var(--rounded);
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover {
    background: #419149;
  }
  @include small-tablet {
    margin: 0 auto;
  }
  @include mobile {
    width: 100%;
  }
  &--main {
    background: transparent;
    outline: 1px solid #ffffff;
    width: 270px;
    &:hover {
      outline: 1px solid #4fbb5b;
      background: #4fbb5b;
    }
  }
}
.consult-btn--form {
  padding: 28px;
  @include small-tablet {
    width: 100%;
  }
}
.consult-btn--form-main {
  background: #00ae4b;
}
.consult-btn--centered {
  margin: 0 auto;
}
.consult-btn--modal {
  padding: 20px;
  width: 100%;
}
