.contacts {
  padding-top: 60px;
}
.contacts-list  {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
  @include tablet {
    justify-content: center;
    gap: 40px 10px;
  }
  @include small-tablet {
    gap: 30px 5px;
  }

}
.contacts-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  @include tablet {
    width: 35%;
  }
  @include mobile {
    width: 100%;
  }
}
.contacts-item__img {
  width: auto;
  height: 35px;
}
.contacts-item__title {
  color: #8e95a6;
  font-size: 1.05rem;
  font-weight: 400;
  @include small-tablet {
    font-size: .9rem;
  }
  @include mobile {
    font-size: .8rem;
  }
}
.contacts-item__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.contacts-item__desc-text {
  color: #212121;
  font-size: 1.05rem;
  font-weight: 500;
  text-align: center;
  @include small-tablet {
    font-size: .9rem;
  }
  @include mobile {
    font-size: .8rem;
  }
}
.contacts-item:nth-child(3) {
  @include mobile {
    order: 1;
  }
}
.contacts-item__desc-text--tel {
  font-size: 1.4rem;
}
.contacts-bottom {
  padding: 20px 0;
  background: #1A172E;
  @include tablet {
    padding: 40px 0;
  }
}
.contacts-bottom__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include tablet {
    flex-direction: column;
    gap: 35px;
  }
}
.contacts-bottom__text {
  display: flex;
  align-items: center;
  gap: 30px;
  @include tablet {
    flex-direction: column;
    gap: 5px;
  };
}
.contacts-map-frame {
  width: 100%;
  border: none;
}
.contacts-bottom__title {
  font-size: 1.7rem;
  color: var(--light-color);
  font-weight: 700;
}
.contacts-bottom__subtitle {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: var(--light-color);
  @include mobile {
    text-align: center;
    font-size: .9rem;
  }
}
.contacts-bottom__social {
  display: flex;
  align-items: center;
  gap: 40px;
  @include tablet {
    gap: 60px;
  }
}
.contacts-bottom__social-link {
  display: flex;
  align-items: center;
  gap: 15px;
  @include tablet {
    flex-direction: column;
  }
}
.contacts-bottom__social-img {
  width: 50px;
  height: 50px;
}
.contacts-bottom__social-name {
  font-size: 1rem;
  font-weight: 300;
  color: var(--light-color);
}
