.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-input {
  width: 100%;
  padding: 25px;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  border: 1px solid rgb(173, 182, 184);
  background-color: rgb(255, 255, 255);
}
.form-input-label {
  display: block;
  color: #b3b3b3;
  font-size: .9rem;
  margin-bottom: 3px;
}
.form-textarea {
  width: 100%;
  height: 85px;
  padding: 10px 20px;
  resize: none;
  outline: none;
}
.form-policy-text {
  font-size: .75rem;
  color: #4d4d4d;
  font-weight: 400;
  line-height: 19px;
  @include small-tablet {
    text-align: center;
  }
  @include mobile {
    font-size: .7rem;
  }
}
.form-policy-text--centered {
  text-align: center;
  color: #c2c2c2;
}
.form-middle .form-input {
  background-color: rgb(242, 246, 247);
  border: 1px solid rgb(222, 230, 232);
}
.form--bottom .form-group .form-input {
  border-radius: 4px;
  height: 60px;
  padding: 0 25px;
}
