.price {
  margin-bottom: 120px;
}
.price-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.price-item {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 20px 60px;
  background: #f5f5f5;
  @include small-tablet {
    padding: 15px 15px;
  }
}
.price-item:nth-child(even) {
  background: #fcfcfc;
}
.price-item__text {
  color: #333333;
  font-size: 1.1rem;
  font-weight: 400;
  @include small-tablet {
    font-size: 1rem;
  }
  @include mobile {
    font-size: .8rem;
  }
}
.price-item__sum {
  color: #21a330;
  font-size: 1.1rem;
  font-weight: 700;
  display: flex;
  gap: 25px;
  &-discount::before {
    content: '3500 ₽';
    color: #eb6f6f;
    font-weight: 500;
    text-decoration: line-through;
  }
  @include small-tablet {
    font-size: 1rem;
    gap: 15px;
  }
  @include mobile {
    font-size: .8rem;
    gap: 10px;
  }
}
.price-list-info {
  color: #333333;
  font-size: 1rem;
  font-weight: 400;
  @include small-tablet {
    font-size: .9rem;
  }
  @include mobile {
    font-size: .8rem;
  }
}
