<section class="advantages">
  <div class="container">
    <h2 class="title">
      Наши преимущества
    </h2>
    <p class="subtitle">Наше главное преимущество — опыт ведения дел более 15 лет и бесплатные консультации юриста по трудовым делам</p>
    <ul class="advantages-list list-reset">
      <li class="advantages-item">
        <div class="advantages-item__number">01</div>
        <div class="advantages-item__box">
          <span class="advantages-item__box-title">Возьмем на себя все вопросы</span>
          <span class="advantages-item__box-desc">Выполним всю работу под ключ: от досудебной работы и оформления документов до выигранного дела в суде</span>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item__number">02</div>
        <div class="advantages-item__box">
          <span class="advantages-item__box-title">Возьмем на себя все вопросы</span>
          <span class="advantages-item__box-desc">Выполним всю работу под ключ: от досудебной работы и оформления документов до выигранного дела в суде</span>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item__number">03</div>
        <div class="advantages-item__box">
          <span class="advantages-item__box-title">Возьмем на себя все вопросы</span>
          <span class="advantages-item__box-desc">Выполним всю работу под ключ: от досудебной работы и оформления документов до выигранного дела в суде</span>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item__number">04</div>
        <div class="advantages-item__box">
          <span class="advantages-item__box-title">Возьмем на себя все вопросы</span>
          <span class="advantages-item__box-desc">Выполним всю работу под ключ: от досудебной работы и оформления документов до выигранного дела в суде</span>
        </div>
      </li>
    </ul>
  </div>
</section>
