<section class="cases">
  <div class="container">
    <div class="cases__inner">
      <h2 class="title">Некоторые примеры <span class="title-light">из нашей практики</span></h2>
      <h3 class="subtitle">Положительные решения наших юристов и адвокатов-партнеров</h3>
      <div class="cases-box">
        <div class="tabs" data-tabs="tab">
          <ul class="tabs__nav">
            <li class="tabs__nav-item">
              <button class="tabs__nav-btn" type="button">Все</button>
            </li>
            <li class="tabs__nav-item">
              <button class="tabs__nav-btn" type="button">Судебная практика: товары</button>
            </li>
            <li class="tabs__nav-item">
              <button class="tabs__nav-btn" type="button">Судебная практика: услуги</button>
            </li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel">
              <div class="cases-box-items">
                <a href="#" class="cases-box-card">
                  <div class="cases-box-card-box-img">
                    <img class="cases-box-card__img"
                         src="https://thumb.tildacdn.com/tild3464-3835-4035-b736-346333303635/-/cover/360x238/center/center/-/format/webp/Et9YTx7WgAIphu0.jpg"
                         alt="Фотография">
                  </div>
                  <div class="cases-box-card-content">
                    <p class="cases-box-card-content__title">
                      Не захотели вернуть аванс в досудебном порядке, вернули через суд с неустойками и
                      компенсациями</p>
                    <p class="cases-box-card-content__desc">2-123/20</p>
                    <button class="cases-box-card__btn consult-btn btn-reset" type="button">Подробнее</button>
                  </div>
                </a>
                <a href="#" class="cases-box-card">
                  <div class="cases-box-card-box-img">
                    <img class="cases-box-card__img"
                         src="https://thumb.tildacdn.com/tild6265-3162-4335-a663-366462323031/-/resize/400x300/-/format/webp/160325_46_00009MTS_S.jpg"
                         alt="Фотография">
                  </div>
                  <div class="cases-box-card-content">
                    <p class="cases-box-card-content__title">
                      Не захотели вернуть аванс в досудебном порядке, вернули через суд с неустойками и
                      компенсациями</p>
                    <p class="cases-box-card-content__desc">2-123/20</p>
                    <button class="cases-box-card__btn consult-btn btn-reset" type="button">Подробнее</button>
                  </div>
                </a>
                <a href="#" class="cases-box-card">
                  <div class="cases-box-card-box-img">
                    <img class="cases-box-card__img"
                         src="https://thumb.tildacdn.com/tild3464-3835-4035-b736-346333303635/-/cover/360x238/center/center/-/format/webp/Et9YTx7WgAIphu0.jpg"
                         alt="Фотография">
                  </div>
                  <div class="cases-box-card-content">
                    <p class="cases-box-card-content__title">
                      Не захотели вернуть аванс в досудебном порядке, вернули через суд с неустойками и
                      компенсациями</p>
                    <p class="cases-box-card-content__desc">2-123/20</p>
                    <button class="cases-box-card__btn consult-btn btn-reset" type="button">Подробнее</button>
                  </div>
                </a>
                <a href="#" class="cases-box-card">
                  <div class="cases-box-card-box-img">
                    <img class="cases-box-card__img"
                         src="https://thumb.tildacdn.com/tild3464-3835-4035-b736-346333303635/-/cover/360x238/center/center/-/format/webp/Et9YTx7WgAIphu0.jpg"
                         alt="Фотография">
                  </div>
                  <div class="cases-box-card-content">
                    <p class="cases-box-card-content__title">
                      Не захотели вернуть аванс в досудебном порядке, вернули через суд с неустойками и
                      компенсациями</p>
                    <p class="cases-box-card-content__desc">2-123/20</p>
                    <button class="cases-box-card__btn consult-btn btn-reset" type="button">Подробнее</button>
                  </div>
                </a>
                <a href="#" class="cases-box-card">
                  <div class="cases-box-card-box-img">
                    <img class="cases-box-card__img"
                         src="https://thumb.tildacdn.com/tild3464-3835-4035-b736-346333303635/-/cover/360x238/center/center/-/format/webp/Et9YTx7WgAIphu0.jpg"
                         alt="Фотография">
                  </div>
                  <div class="cases-box-card-content">
                    <p class="cases-box-card-content__title">
                      Не захотели вернуть аванс в досудебном порядке, вернули через суд с неустойками и
                      компенсациями</p>
                    <p class="cases-box-card-content__desc">2-123/20</p>
                    <button class="cases-box-card__btn consult-btn btn-reset" type="button">Подробнее</button>
                  </div>
                </a>
                <a href="#" class="cases-box-card">
                  <div class="cases-box-card-box-img">
                    <img class="cases-box-card__img"
                         src="https://thumb.tildacdn.com/tild3464-3835-4035-b736-346333303635/-/cover/360x238/center/center/-/format/webp/Et9YTx7WgAIphu0.jpg"
                         alt="Фотография">
                  </div>
                  <div class="cases-box-card-content">
                    <p class="cases-box-card-content__title">
                      Не захотели вернуть аванс в досудебном порядке, вернули через суд с неустойками и
                      компенсациями</p>
                    <p class="cases-box-card-content__desc">2-123/20</p>
                    <button class="cases-box-card__btn consult-btn btn-reset" type="button">Подробнее</button>
                  </div>
                </a>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="cases-box-items">
                <a href="#" class="cases-box-card">
                  <div class="cases-box-card-box-img">
                    <img class="cases-box-card__img"
                         src="https://thumb.tildacdn.com/tild3464-3835-4035-b736-346333303635/-/cover/360x238/center/center/-/format/webp/Et9YTx7WgAIphu0.jpg"
                         alt="Фотография">
                  </div>
                  <div class="cases-box-card-content">
                    <p class="cases-box-card-content__title">
                      Не захотели вернуть аванс в досудебном порядке, вернули через суд с неустойками и
                      компенсациями</p>
                    <p class="cases-box-card-content__desc">2-123/20</p>
                    <button class="cases-box-card__btn consult-btn btn-reset" type="button">Подробнее</button>
                  </div>
                </a>
                <a href="#" class="cases-box-card">
                  <div class="cases-box-card-box-img">
                    <img class="cases-box-card__img"
                         src="https://thumb.tildacdn.com/tild3464-3835-4035-b736-346333303635/-/cover/360x238/center/center/-/format/webp/Et9YTx7WgAIphu0.jpg"
                         alt="Фотография">
                  </div>
                  <div class="cases-box-card-content">
                    <p class="cases-box-card-content__title">
                      Не захотели вернуть аванс в досудебном порядке, вернули через суд с неустойками и
                      компенсациями</p>
                    <p class="cases-box-card-content__desc">2-123/20</p>
                    <button class="cases-box-card__btn consult-btn btn-reset" type="button">Подробнее</button>
                  </div>
                </a>
                <a href="#" class="cases-box-card">
                  <div class="cases-box-card-box-img">
                    <img class="cases-box-card__img"
                         src="https://thumb.tildacdn.com/tild3464-3835-4035-b736-346333303635/-/cover/360x238/center/center/-/format/webp/Et9YTx7WgAIphu0.jpg"
                         alt="Фотография">
                  </div>
                  <div class="cases-box-card-content">
                    <p class="cases-box-card-content__title">
                      Не захотели вернуть аванс в досудебном порядке, вернули через суд с неустойками и
                      компенсациями</p>
                    <p class="cases-box-card-content__desc">2-123/20</p>
                    <button class="cases-box-card__btn consult-btn btn-reset" type="button">Подробнее</button>
                  </div>
                </a>

              </div>
            </div>
            <div class="tabs__panel">
              <div class="cases-box-items">
                <a href="#" class="cases-box-card">
                  <div class="cases-box-card-box-img">
                    <img class="cases-box-card__img"
                         src="https://thumb.tildacdn.com/tild3464-3835-4035-b736-346333303635/-/cover/360x238/center/center/-/format/webp/Et9YTx7WgAIphu0.jpg"
                         alt="Фотография">
                  </div>
                  <div class="cases-box-card-content">
                    <p class="cases-box-card-content__title">
                      Не захотели вернуть аванс в досудебном порядке, вернули через суд с неустойками и
                      компенсациями</p>
                    <p class="cases-box-card-content__desc">2-123/20</p>
                    <button class="cases-box-card__btn consult-btn btn-reset" type="button">Подробнее</button>
                  </div>
                </a>
                <a href="#" class="cases-box-card">
                  <div class="cases-box-card-box-img">
                    <img class="cases-box-card__img"
                         src="https://thumb.tildacdn.com/tild3464-3835-4035-b736-346333303635/-/cover/360x238/center/center/-/format/webp/Et9YTx7WgAIphu0.jpg"
                         alt="Фотография">
                  </div>
                  <div class="cases-box-card-content">
                    <p class="cases-box-card-content__title">
                      Не захотели вернуть аванс в досудебном порядке, вернули через суд с неустойками и
                      компенсациями</p>
                    <p class="cases-box-card-content__desc">2-123/20</p>
                    <button class="cases-box-card__btn consult-btn btn-reset" type="button">Подробнее</button>
                  </div>
                </a>
                <a href="#" class="cases-box-card">
                  <div class="cases-box-card-box-img">
                    <img class="cases-box-card__img"
                         src="https://thumb.tildacdn.com/tild3464-3835-4035-b736-346333303635/-/cover/360x238/center/center/-/format/webp/Et9YTx7WgAIphu0.jpg"
                         alt="Фотография">
                  </div>
                  <div class="cases-box-card-content">
                    <p class="cases-box-card-content__title">
                      Не захотели вернуть аванс в досудебном порядке, вернули через суд с неустойками и
                      компенсациями</p>
                    <p class="cases-box-card-content__desc">2-123/20</p>
                    <button class="cases-box-card__btn consult-btn btn-reset" type="button">Подробнее</button>
                  </div>
                </a>
                <a href="#" class="cases-box-card">
                  <div class="cases-box-card-box-img">
                    <img class="cases-box-card__img"
                         src="https://thumb.tildacdn.com/tild3464-3835-4035-b736-346333303635/-/cover/360x238/center/center/-/format/webp/Et9YTx7WgAIphu0.jpg"
                         alt="Фотография">
                  </div>
                  <div class="cases-box-card-content">
                    <p class="cases-box-card-content__title">
                      Не захотели вернуть аванс в досудебном порядке, вернули через суд с неустойками и
                      компенсациями</p>
                    <p class="cases-box-card-content__desc">2-123/20</p>
                    <button class="cases-box-card__btn consult-btn btn-reset" type="button">Подробнее</button>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
