<section class="consultation">
  <div class="container">
    <div class="consultation__inner">
      <h2 class="consultation__title"><span class="consultation__title-dec">Бесплатная консультация</span> по телефону или в офисе</h2>
      <p class="consultation__subtitle">Юридическая консультация и анализ Вашей ситуации <span class="consultation__subtitle-dec">уже через 1 минуту</span></p>
      <div class="consultation-box">
        <div class="consultation-box__left">
          <ul class="consultation-box__list list-reset">
            <li class="consultation-box__item">
              <img src="" alt="icon">
              <div class="consultation-box__item-desc">
                <p class="consultation-box__item-title">Цена консультации:</p>
                <p class="consultation-box__item-text"><span class="consultation-box__item-text-dec">3500₽</span>Бесплатно</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
