<section class="consultation-banner">
  <div class="container">
    <div class="consultation-banner__inner">
      <div class="consultation-banner__box">
        <p class="consultation-banner__title">Нужна бесплатная консультация?</p>
        <p class="consultation-banner__text"><strong>Обращайтесь - мы ответим</strong><br> на любые Ваши вопросы</p>
        <a href="tel:899999999999" class="consultation-banner__link">+7(999)999-99-99</a>
      </div>
      <div class="consultation-banner__box">
        <div class="consultation-banner-item">
          <div class="consultation-banner-box-img">
            <img
              class="consultation-banner-img"
              src="https://thumb.tildacdn.com/tild3338-3433-4635-b337-633236346136/-/resize/150x/-/format/webp/__3.jpg"
              alt="фотография юриста">
          </div>
          <div class="consultation-banner-item-desc">
            <p class="consultation-banner-item-desc__name">Иванов Иван Иванович</p>
            <p class="consultation-banner-item-desc__text">
              Юрист по защите прав потребителей, высшее образование, юридическая практика более 10 лет
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
