<section class="consultation-main">
  <div class="container">
    <div class="consultation-main__inner">
      <h2 class="consultation-main__title">У вас есть вопрос юристу или адвокату?</h2>
      <p class="consultation-main__subtitle">Задайте вопрос юристу бесплатно онлайн без регистрации в СПб</p>
      <div class="consultation-main-form-box">
        <h3 class="consultation-main-form-box__title">Задайте Ваш вопрос юристу и получите ответ <span
          class="consultation-main-form-box__title-dec">в течение 1 минуты</span></h3>
        <form class="form7 form-main">
          <div class="form-main-col">
            <div class="form-group">
              <label class="form-main-label" for="textarea-main">Ваш вопрос юристу</label>
              <textarea class="form-main-textarea form-textarea7" id="textarea-main"
                        placeholder="Коротко опишите Вашу ситуацию и задайте вопрос юристу" name="text"></textarea>
              <span class="form-policy-text form-policy-text-pc">Нажимая на кнопку, Вы даете согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span>
            </div>
          </div>
          <div class="form-main-col">
            <div class="form-group">
              <label class="form-main-label" for="inp-name-main">Ваше имя:</label>
              <input id="inp-name-main" class="input-name input-name7 form-input" type="text" name="name"
                     placeholder="Как к Вам обращаться?">
            </div>
            <div class="form-group">
              <label class="form-main-label" for="inp-number-main">Ваш телефон:</label>
              <input id="inp-number-main" class="input-tel input-tel7 form-input" type="tel" name="number"
                     placeholder="+7 (999) 999-99-99">
            </div>
            <button class="consult-btn consult-btn--form consult-btn--form-main" type="submit">Задать вопрос юристу</button>
            <span class="form-policy-text form-policy-text-mob">Нажимая на кнопку, Вы даете согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span>
          </div>
        </form>
      </div>
    </div>

  </div>

</section>
