<section class="consultation-bottom">
  <div class="container">
    <div class="consultation-bottom__inner">
      <div class="consultation-bottom-left">
        <span class="consultation-bottom-left__subtitle">
          Не нашли, что искали?
        </span>
        <h2 class="consultation-bottom-left__title">
          Опишите ситуацию и мы подберем лучшего юриста для консультации по Вашему проекту
        </h2>
        <ul class="consultation-bottom-left__list list-reset">
          <li class="consultation-bottom-left__item">
            <span class="consultation-bottom-left__item-text">
              <span class="consultation-bottom-left__item-text-dec">В течение 1 минуты</span> Вам позвонит дежурный юрист и ответит на все Ваши вопросы
            </span>
          </li>
          <li class="consultation-bottom-left__item">
            <span class="consultation-bottom-left__item-text">
              <span class="consultation-bottom-left__item-text-dec">В течение 1 минуты</span> Вам позвонит дежурный юрист и ответит на все Ваши вопросы
            </span>
          </li>
          <li class="consultation-bottom-left__item">
            <span class="consultation-bottom-left__item-text">
              <span class="consultation-bottom-left__item-text-dec">В течение 1 минуты</span> Вам позвонит дежурный юрист и ответит на все Ваши вопросы
            </span>
          </li>
        </ul>
      </div>
      <div class="consultation-bottom-right">
        <div class="consultation-bottom-form">
          <h3 class="consultation-bottom-form__title">
            Бесплатная консультация
          </h3>
          <div class="consultation-bottom-form__desc-box">
            <span class="consultation-bottom-form__subtitle">Получите бесплатную помощь узкопрофильного юриста уже через 1 минуту</span>
          </div>
          <form class="form form--bottom">
            <div class="form-group">
              <label class="form-input-label" for="name-bottom">Имя:</label>
              <input class="form-input" id="name-bottom" type="text" placeholder="Введите Ваше имя">
            </div>
            <div class="form-group">
              <label class="form-input-label" for="tel-bottom">Телефон:</label>
              <input id="tel-bottom" class="form-input" type="tel" name="number" placeholder="+7 (999) 999-99-99">
            </div>
            <div class="form-group">
              <label class="form-input-label" for="textarea-bottom">Комментарий(не обязательно):</label>
              <textarea class="form-textarea" id="textarea-bottom" placeholder="Опишите коротко Вашу ситуацию"></textarea>
            </div>
            <button class="consult-btn consult-btn--centered" type="submit" >Получить консультацию</button>
            <span class="form-policy-text form-policy-text--centered">100% защита данных, согласно 152-ФЗ. Нажимая на кнопку, Вы даете согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
