<section class="consultation-middle">
  <div class="container">
    <div class="consultation-middle-box" data-aos="zoom-in" data-aos-once="true">
      <div class="consultation-middle-box__left">
        <div class="consultation-middle-box-wrapper">
          <h3 class="consultation-middle-box__left-title">Начните с <span
            class="consultation-middle-box__left-title-dec">бесплатной консультации</span> трудового юриста</h3>
          <address class="consultation-middle__address">
            <span class="consultation-middle__address-title">Свяжитесь с нами удобным для Вас способом</span>
            <a href="tel:899999999999" class="consultation-middle__address-number">+7(999)999-99-99</a>
            <a href="mailto:qwe@ya.ru" class="consultation-middle__address-mail">qwe@ya.ru</a>
            <div class="social-link">
              <a href="#" class="social-link__link">
                <img class="social-link__image"
                     src="https://thumb.tildacdn.com/tild3831-3336-4139-a236-386166383931/-/cover/40x40/center/center/-/format/webp/WhatsApp.png"
                     alt="">
              </a>
              <a href="#" class="social-link__link">
                <img class="social-link__image"
                     src="https://thumb.tildacdn.com/tild3831-3336-4139-a236-386166383931/-/cover/40x40/center/center/-/format/webp/WhatsApp.png"
                     alt="">
              </a>
            </div>
          </address>
        </div>
      </div>
      <div class="consultation-middle-box__right">
        <div class="consultation-middle-box-wrapper">
          <p class="consultation-middle-box__right-title">Бесплатная консультация</p>
          <p class="consultation-middle-box__right-subtitle">Оставьте заявку и с Вами свяжется юрист и бесплатно
            проконсультирует по трудовым вопросам</p>
          <form class="form form2 form-middle">
            <div class="form-group">
              <label class="visually-hidden" for="inp-name-middle">Введите Ваше имя</label>
              <input id="inp-name-middle" class="input-name input-name2 form-input" type="text" name="name"
                     placeholder="Введите Ваше имя">
            </div>
            <div class="form-group">
              <label class="visually-hidden" for="inp-number-middle">Введите Ваш номер</label>
              <input id="inp-number-middle" class="input-tel input-tel2 form-input" type="tel" name="number"
                     placeholder="+7 (999) 999-99-99">
            </div>
            <button class="consult-btn consult-btn--form" type="submit">Получить консультацию</button>
            <span class="form-policy-text">Нажимая на кнопку, Вы даете согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span>
          </form>
          <address class="consultation-middle__address consultation-middle__address--tabled">
            <span class="consultation-middle__address-title">Свяжитесь с нами удобным для Вас способом</span>
            <a href="tel:899999999999" class="consultation-middle__address-number">+7(999)999-99-99</a>
            <a href="mailto:qwe@ya.ru" class="consultation-middle__address-mail">qwe@ya.ru</a>
            <div class="social-link">
              <a href="https://wa.me/79193443919?text=%D0%94%D0%BE%D0%B1%D1%80%D0%BE%D0%B3%D0%BE%20%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%B8%20%D1%81%D1%83%D1%82%D0%BE%D0%BA!%20%D0%9D%D1%83%D0%B6%D0%BD%D0%B0%20%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D1%8C%20%D1%8E%D1%80%D0%B8%D1%81%D1%82%D0%B0..." target="_blank" class="social-link__link">
                <img class="social-link__image"
                     src="img/svg/WhatsApp.svg"
                     alt="WhatsApp icon">
              </a>
              <a href="#" class="social-link__link">
                <img class="social-link__image"
                     src="img/svg/telegram.svg"
                     alt="Telegram icon">
              </a>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>
</section>
