<div class="contacts">
  <div class="container">
    <div class="contacts__inner">
      <h2 class="title centered">
        Наши контакты в Санкт-Петербурге
      </h2>
      <p class="subtitle centered">Телефон и адрес юристов и адвокатов-партнеров в СПб и Ленинградской области</p>
      <ul class="contacts-list list-reset">
        <li class="contacts-item">
          <img class="contacts-item__img"
               src="https://thumb.tildacdn.com/tild3435-6166-4565-b135-663764336435/-/resize/30x/-/format/webp/1.png"
               alt="Иконка геопозиции">
          <p class="contacts-item__title">
            Адрес офиса:
          </p>
          <div class="contacts-item__desc">
            <p class="contacts-item__desc-text">
              СПб, ул. Кузнецовская д.19, лит.А
            </p>
            <p class="contacts-item__desc-text">
              СПб, ул. Кузнецовская д.19, лит.А
            </p>
          </div>
        </li>
        <li class="contacts-item">
          <img class="contacts-item__img"
               src="https://thumb.tildacdn.com/tild3435-6166-4565-b135-663764336435/-/resize/30x/-/format/webp/1.png"
               alt="Иконка геопозиции">
          <p class="contacts-item__title">
            Режим работы:
          </p>
          <div class="contacts-item__desc">
            <p class="contacts-item__desc-text">
              пн - пт: 09.00- 21.00
            </p>
            <p class="contacts-item__desc-text">
              пн - пт: 09.00- 21.00
            </p>
          </div>
        </li>
        <li class="contacts-item">
          <img class="contacts-item__img"
               src="https://thumb.tildacdn.com/tild3435-6166-4565-b135-663764336435/-/resize/30x/-/format/webp/1.png"
               alt="Иконка геопозиции">
          <p class="contacts-item__title">
            Позвоните нам:
          </p>
          <div class="contacts-item__desc">
            <a href="#" class="contacts-item__desc-text contacts-item__desc-text--tel">
              +7999999999999
            </a>
            <div class="social-link">
              <a href="https://wa.me/79193443919?text=%D0%94%D0%BE%D0%B1%D1%80%D0%BE%D0%B3%D0%BE%20%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%B8%20%D1%81%D1%83%D1%82%D0%BE%D0%BA!%20%D0%9D%D1%83%D0%B6%D0%BD%D0%B0%20%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D1%8C%20%D1%8E%D1%80%D0%B8%D1%81%D1%82%D0%B0..." target="_blank" class="social-link__link">
                <img class="social-link__image"
                     src="img/svg/WhatsApp.svg"
                     alt="WhatsApp icon">
              </a>
              <a href="#" class="social-link__link">
                <img class="social-link__image"
                     src="img/svg/telegram.svg"
                     alt="telegram icon">
              </a>
            </div>
          </div>
        </li>
        <li class="contacts-item">
          <img class="contacts-item__img"
               src="https://thumb.tildacdn.com/tild3435-6166-4565-b135-663764336435/-/resize/30x/-/format/webp/1.png"
               alt="Иконка геопозиции">
          <p class="contacts-item__title">
            Напишите нам:
          </p>
          <div class="contacts-item__desc">
            <a href="#" class="contacts-item__desc-text">
              qwe@mail.ru
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="contacts-map">
    <iframe class="contacts-map-frame"
            src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac17b5d9a0b5ceac92ddadf7f9948bb3aa55bc65d521b306b9832810226102e76&amp;source=constructor"
            height="450"></iframe>
  </div>
  <div class="contacts-bottom">
    <div class="container">
      <div class="contacts-bottom__box">
        <div class="contacts-bottom__text">
          <p class="contacts-bottom__title">Остались вопросы?</p>
          <p class="contacts-bottom__subtitle">Задайте их нам в удобном для Вас мессенджере</p>
        </div>
        <div class="contacts-bottom__social">
          <a href="https://wa.me/79193443919?text=%D0%94%D0%BE%D0%B1%D1%80%D0%BE%D0%B3%D0%BE%20%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%B8%20%D1%81%D1%83%D1%82%D0%BE%D0%BA!%20%D0%9D%D1%83%D0%B6%D0%BD%D0%B0%20%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D1%8C%20%D1%8E%D1%80%D0%B8%D1%81%D1%82%D0%B0..." target="_blank" class="contacts-bottom__social-link">
            <img class="contacts-bottom__social-img"
                 src="img/svg/WhatsApp.svg"
                 alt="WhatsApp icon">
            <span class="contacts-bottom__social-name">WhatsApp</span>
          </a>
          <a href="#" target="_blank" class="contacts-bottom__social-link">
            <img class="contacts-bottom__social-img"
                 src="img/svg/telegram.svg"
                 alt="telegram icon">
            <span class="contacts-bottom__social-name">Telegram</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
