<section class="faq">
  <div class="container">
    <div class="faq__inner">
      <h2 class="title">Ответы на часто задаваемые вопросы</h2>
      <p class="subtitle">Юридическая помощь трудового юриста в Санкт-Петербурге</p>
      <div class="accordion">
        <div class="accordion-item">
          <button class="btn-reset accordion-item__btn">
            <span class="accordion-item__btn-text">
              В каких ситуациях следует обращаться к трудовому юристу?
            </span>
            <svg class="accordion-item__btn-cross">
              <use xlink:href="./img/sprite.svg#cross"></use>
            </svg>
          </button>
          <div class="accordion-item__desc collapse">
            <ul class="accordion-item__desc-list list-reset collapse__body">
              <li class="accordion-item__desc-item">
                Взыскание задолженности по заработной плате и иным выплатам;
              </li>
              <li class="accordion-item__desc-item">
                Взыскание задолженности по заработной плате и иным выплатам;
              </li>
              <li class="accordion-item__desc-item">
                Взыскание задолженности по заработной плате и иным выплатам;
              </li>
              <li class="accordion-item__desc-item">
                Взыскание задолженности по заработной плате и иным выплатам;
              </li>
              <li class="accordion-item__desc-item">
                Взыскание задолженности по заработной плате и иным выплатам;
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion-item">
          <button class="btn-reset accordion-item__btn">
            <span class="accordion-item__btn-text">
              В каких ситуациях следует обращаться к трудовому юристу?
            </span>
            <svg class="accordion-item__btn-cross">
              <use xlink:href="./img/sprite.svg#cross"></use>
            </svg>
          </button>
          <div class="accordion-item__desc collapse">
            <ul class="accordion-item__desc-list list-reset collapse__body">
              <li class="accordion-item__desc-item">
                Взыскание задолженности по заработной плате и иным выплатам;
              </li>
              <li class="accordion-item__desc-item">
                Взыскание задолженности по заработной плате и иным выплатам;
              </li>
              <li class="accordion-item__desc-item">
                Взыскание задолженности по заработной плате и иным выплатам;
              </li>
              <li class="accordion-item__desc-item">
                Взыскание задолженности по заработной плате и иным выплатам;
              </li>
              <li class="accordion-item__desc-item">
                Взыскание задолженности по заработной плате и иным выплатам;
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion-item">
          <button class="btn-reset accordion-item__btn">
            <span class="accordion-item__btn-text">
              В каких ситуациях следует обращаться к трудовому юристу?
            </span>
            <svg class="accordion-item__btn-cross">
              <use xlink:href="./img/sprite.svg#cross"></use>
            </svg>
          </button>
          <div class="accordion-item__desc collapse">
            <ul class="accordion-item__desc-list list-reset collapse__body">
              <li class="accordion-item__desc-item">
                Взыскание задолженности по заработной плате и иным выплатам;
              </li>
              <li class="accordion-item__desc-item">
                Взыскание задолженности по заработной плате и иным выплатам;
              </li>
              <li class="accordion-item__desc-item">
                Взыскание задолженности по заработной плате и иным выплатам;
              </li>
              <li class="accordion-item__desc-item">
                Взыскание задолженности по заработной плате и иным выплатам;
              </li>
              <li class="accordion-item__desc-item">
                Взыскание задолженности по заработной плате и иным выплатам;
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
