<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <a href="#" class="logo">
        <img src="https://thumb.tildacdn.com/tild6563-3534-4631-b930-666463613633/-/resize/330x/-/format/webp/_3.png" alt="logo">
      </a>
      <div class="footer-top-info">
        <a class="footer-top-info__tel" href="#">+7999999999</a>
        <button class="footer-top-info__obr btn-reset">Заказать обратный звонок</button>
        <div class="footer-top-info__time">
          <p class="footer-top-info__time-title">
            Время работы:
          </p>
          <p class="footer-top-info__time-desc">пн. - пт.: 09:00 до 20:00</p>
          <p class="footer-top-info__time-desc">пн. - пт.: 09:00 до 20:00</p>
        </div>
        <div class="footer-top-info__address">
          <p class="footer-top-info__address-desc">СПб, ул. Кузнецовская д.19, лит.А, оф. 106 (БЦ "Парк Победы")</p>
        </div>
        <a href="#" class="footer-top-info__email">qwe@qwe.ru</a>
      </div>
    </div>
    <div class="footer-bottom">
        <p class="footer-bottom__text">@ Юридическое агентство</p>
    </div>
  </div>
</footer>
