<section class="full-complex-services">
  <div class="container">
    <div class="full-complex-services__inner">
      <h2 class="title">Мы оказываем полный комплекс юридических услуг</h2>
      <h3 class="subtitle">От бесплатной консультации до положительного решения суда и его исполнения</h3>
      <div class="full-complex-services-box">
        <ul class="full-complex-services-list list-reset">
          <li class="full-complex-services-item">
            <div class="full-complex-services-item__box-img">
              <img class="full-complex-services-list__img" src="./img/complex1.png" alt="icon">
            </div>
            <p class="full-complex-services-list__title">Подготовка к работе</p>
            <ul class="full-complex-services-item-list list-reset">
              <li class="full-complex-services-item-list__item">
                Ответим на все вопросы и ознакомимся с документами
              </li>
              <li class="full-complex-services-item-list__item">
                Выработаем правовую позицию
              </li>
              <li class="full-complex-services-item-list__item">
                Составляем пошаговый план действий
              </li>
            </ul>
          </li>
          <li class="full-complex-services-item">
            <div class="full-complex-services-item__box-img">
              <img class="full-complex-services-list__img" src="./img/complex2.png" alt="icon">
            </div>
            <p class="full-complex-services-list__title">Подготовка к работе</p>
            <ul class="full-complex-services-item-list list-reset">
              <li class="full-complex-services-item-list__item">
                Ответим на все вопросы и ознакомимся с документами
              </li>
              <li class="full-complex-services-item-list__item">
                Выработаем правовую позицию
              </li>
              <li class="full-complex-services-item-list__item">
                Составляем пошаговый план действий
              </li>
            </ul>
          </li>
          <li class="full-complex-services-item">
            <div class="full-complex-services-item__box-img">
              <img class="full-complex-services-list__img" src="./img/complex3.png" alt="icon">
            </div>
            <p class="full-complex-services-list__title">Подготовка к работе</p>
            <ul class="full-complex-services-item-list list-reset">
              <li class="full-complex-services-item-list__item">
                Ответим на все вопросы и ознакомимся с документами
              </li>
              <li class="full-complex-services-item-list__item">
                Выработаем правовую позицию
              </li>
              <li class="full-complex-services-item-list__item">
                Составляем пошаговый план действий
              </li>
            </ul>
          </li>
          <li class="full-complex-services-item">
            <div class="full-complex-services-item__box-img">
              <img class="full-complex-services-list__img" src="./img/complex4.png" alt="icon">
            </div>
            <p class="full-complex-services-list__title">Подготовка к работе</p>
            <ul class="full-complex-services-item-list list-reset">
              <li class="full-complex-services-item-list__item">
                Ответим на все вопросы и ознакомимся с документами
              </li>
              <li class="full-complex-services-item-list__item">
                Выработаем правовую позицию
              </li>
              <li class="full-complex-services-item-list__item">
                Составляем пошаговый план действий
              </li>
              <li class="full-complex-services-item-list__item">
                Ответим на все вопросы и ознакомимся с документами
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
