<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header-top">
        <a href="#" class="logo">
          <img class="logo-img" src="https://thumb.tildacdn.com/tild6563-3534-4631-b930-666463613633/-/resize/432x/-/format/webp/_3.png" alt="">
        </a>
        <div class="header__right-bar">
          <div class="header-address">
            <a class="header-img-box" href="https://yandex.ru/maps/-/CCUb6LFNPA" target="_blank">
              <img class="header-address__img" src="img/svg/map.svg" alt="иконка карты">
            </a>
            <div class="header-address__description">
              <p class="header-address__title">Санкт-Петербург</p>
              <p class="header-text">ул. Кузнецовская д.19, лит.А, 123</p>
            </div>
          </div>
          <div class="header-tel">
            <a class="header-img-box" href="tel:79999999999">
              <img class="header-tel__img" src="img/svg/call.svg" alt="иконка телефона">
            </a>
            <div class="header-tel__description">
              <span class="header-tel__text">Есть вопросы? Звоните</span>
              <a class="header-tel__link" href="tel:79999999999">+7(999)999-99-99</a>
              <button class="header-btn-modal btn-reset" data-graph-path="modal-obz" type="button">Перезвоните мне</button>
            </div>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <div class="header-bottom__left">
          <h1 class="header-bottom__title">Юристы по трудовым спорам <span class="header-bottom__title_dec">в Санкт-Петербурге</span></h1>
          <p class="header-bottom__subtitle">Узкопрофильные честные юристы с опытом до 15 лет</p>
          <ul class="header-bottom__list list list--header list-reset">
            <li class="header-bottom__item list-item">
              <p class="header-bottom__item-text list-item__text">Споры с незаконным увольнением</p>
            </li>
            <li class="header-bottom__item list-item">
              <p class="header-bottom__item-text list-item__text">Споры с незаконным увольнением</p>
            </li>
            <li class="header-bottom__item list-item">
              <p class="header-bottom__item-text list-item__text">Споры с незаконным увольнением</p>
            </li>
            <li class="header-bottom__item list-item">
              <p class="header-bottom__item-text list-item__text">Споры с незаконным увольнением</p>
            </li>
            <li class="header-bottom__item list-item">
              <p class="header-bottom__item-text list-item__text">Споры с незаконным увольнением</p>
            </li>
            <li class="header-bottom__item list-item">
              <p class="header-bottom__item-text list-item__text">Споры с незаконным увольнением</p>
            </li>
          </ul>
          <p class="header-bottom__text">Начните с бесплатной консультации. <span class="header-bottom__text-dec">Это бесплатно!</span></p>
          <button class="consult-btn" data-graph-path="modal-consult">Бесплатная консультация</button>
        </div>
        <div class="header-bottom__right">
          <img class="header-bottom__img"  src="https://thumb.tildacdn.com/tild3339-6235-4963-a430-633862343933/-/resize/460x/-/format/webp/7.png" alt="">
        </div>
      </div>

    </div>
  </div>
</header>
