<header class="header">
  <div class="header-box">
    <div class="container">
      <div class="header__inner">
        <div class="header-top">
          <div class="header-top__items">
            <a href="#" class="logo">
              <img class="logo-img" src="https://thumb.tildacdn.com/tild6563-3534-4631-b930-666463613633/-/resize/432x/-/format/webp/_3.png" alt="">
            </a>
            <div class="header__right-bar">
              <div class="header-address">
                <a class="header-img-box" href="https://yandex.ru/maps/-/CCUb6LFNPA" target="_blank">
                  <img class="header-address__img" src="img/svg/map.svg" alt="иконка карты">
                </a>
                <div class="header-address__description">
                  <p class="header-address__title">Санкт-Петербург</p>
                  <p class="header-text">ул. Кузнецовская д.19, лит.А, 123</p>
                </div>
              </div>
              <div class="header-tel">
                <a class="header-img-box" href="tel:79999999999">
                  <img class="header-tel__img" src="img/svg/call.svg" alt="иконка телефона">
                </a>
                <div class="header-tel__description">
                  <span class="header-tel__text">Есть вопросы? Звоните</span>
                  <a class="header-tel__link" href="tel:79999999999">+7(999)999-99-99</a>
                  <button class="header-btn-modal btn-reset" data-graph-path="modal-obz" type="button">Перезвоните мне</button>
                </div>
              </div>
            </div>
          </div>
          <div class="breadcrumbs">
            <ul class="breadcrumbs-list list-reset">
              <li class="breadcrumbs-item">
                <a href="index.html" class="breadcrumbs-link">Главная</a>
              </li>
              <li class="breadcrumbs-item">
                <span href="/index.html" class="breadcrumbs-link">Юрист по трудовым спорам</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="header-bottom">
          <div class="header-bottom__left">
            <h1 class="header-bottom__title">Юристы по трудовым спорам <span class="header-bottom__title_dec">в Санкт-Петербурге</span></h1>
            <p class="header-bottom__subtitle">Узкопрофильные честные юристы с опытом до 15 лет</p>
            <ul class="header-bottom__list list list--header list-reset">
              <li class="header-bottom__item list-item">
                <p class="header-bottom__item-text list-item__text">Споры с незаконным увольнением</p>
              </li>
              <li class="header-bottom__item list-item">
                <p class="header-bottom__item-text list-item__text">Споры с незаконным увольнением</p>
              </li>
              <li class="header-bottom__item list-item">
                <p class="header-bottom__item-text list-item__text">Споры с незаконным увольнением</p>
              </li>
              <li class="header-bottom__item list-item">
                <p class="header-bottom__item-text list-item__text">Споры с незаконным увольнением</p>
              </li>
              <li class="header-bottom__item list-item">
                <p class="header-bottom__item-text list-item__text">Споры с незаконным увольнением</p>
              </li>
              <li class="header-bottom__item list-item">
                <p class="header-bottom__item-text list-item__text">Споры с незаконным увольнением</p>
              </li>
            </ul>
            <p class="header-bottom__text">Начните с бесплатной консультации. <span class="header-bottom__text-dec">Это бесплатно!</span></p>
            <button class="consult-btn" data-graph-path="modal-consult">Бесплатная консультация</button>
          </div>
          <div class="header-bottom__right">
            <img class="header-bottom__img"  src="https://thumb.tildacdn.com/tild3339-6235-4963-a430-633862343933/-/resize/460x/-/format/webp/7.png" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="header-fixed">
    <div class="container">
      <div class="header-fixed__inner">
        <a class="header-fixed-logo" href="#">
          <img class="header-fixed-logo__img" src="https://static.tildacdn.com/tild3162-6134-4136-a231-306662633632/_5.png" alt="logo">
        </a>
        <nav class="nav">
          <ul class="nav-list list-reset">
            <li class="nav-item">
              <a href="#" class="nav-item__link">
                Главная
              </a>
            </li>
            <li class="nav-item nav-item--drop">
              <a class="nav-item__link nav-item__link--drop">
                Услуги
              </a>
              <div class="dropdown">
                <ul class="dropdown-list list-reset">
                  <li class="dropdown-item">
                    <a class="dropdown-item__link" href="trudovyye-spory.html">Трудовой юрист</a>
                  </li>
                  <li class="dropdown-item">
                    <a class="dropdown-item__link" href="trudovyye-spory.html">Трудовой юрист</a>
                  </li>
                  <li class="dropdown-item">
                    <a class="dropdown-item__link" href="trudovyye-spory.html">Трудовой юрист</a>
                  </li>
                  <li class="dropdown-item">
                    <a class="dropdown-item__link" href="trudovyye-spory.html">Трудовой юрист</a>
                  </li>

                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-item__link">
                О компании
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-item__link">
                Контакты
              </a>
            </li>
          </ul>
        </nav>
        <div class="header-fixed-items">
          <p class="header-fixed-items__text">
            Есть вопросы? Звоните!
          </p>
          <a href="tel:799999999999" class="header-fixed-items__number">+7(999)999-99-99</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-menu-box">
    <button class="btn-reset header-burger">
      <span class="header-burger__line"></span>
      <span class="header-burger__line"></span>
      <span class="header-burger__line"></span>
    </button>
    <div class="mobile-menu-overlay"></div>
    <div class="mobile-menu">
      <a href="#" class="mobile-menu-logo">
        <img src="https://static.tildacdn.com/tild3731-6563-4236-a233-303639353739/_4.png" alt="logo">
      </a>
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-nav-list list-reset">
          <li class="mobile-menu-nav-item">
            <a href="#" class="mobile-menu-nav-item__link">
              Главная
            </a>
          </li>
          <li class="mobile-menu-nav-item nav-item--burger-drop">
            <a class="mobile-menu-nav-item__link mobile-menu-nav-item__link--drop">
              Услуги
            </a>
            <div class="mobile-menu-dropdown">
              <ul class="mobile-menu-dropdown-list list-reset">
                <li class="mobile-menu-dropdown-item">
                  <a class="mobile-menu-dropdown-item__link" href="trudovyye-spory.html">Трудовой юрист</a>
                </li>
                <li class="mobile-menu-dropdown-item">
                  <a class="mobile-menu-dropdown-item__link" href="trudovyye-spory.html">Трудовой юрист</a>
                </li>
                <li class="mobile-menu-dropdown-item">
                  <a class="mobile-menu-dropdown-item__link" href="trudovyye-spory.html">Трудовой юрист</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#" class="mobile-menu-nav-item__link">
              О компании
            </a>
          </li>
          <li class="mobile-menu-nav-item">
            <a href="#" class="mobile-menu-nav-item__link">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
      <div class="mobile-menu-items">
        <p class="mobile-menu-items__text">
          Есть вопросы? Звоните!
        </p>
        <a href="tel:799999999999" class="mobile-menu-items__number">+7(999)999-99-99</a>
        <button class="mobile-menu-obrz btn-reset" data-graph-path="modal-obz">Заказать звонок</button>
      </div>
    </div>
  </div>
  <a href="tel:79999999999" class="button-mobile-zv">Позвонить<span class="button-mobile-zv-dec"></span></a>
  <div class="widget-communication">
    <button class="widget-communication__btn btn-reset">
      <img src="img/svg/widget.svg" alt="icon widget">
    </button>
    <a href="https://wa.me/79193443919?text=%D0%94%D0%BE%D0%B1%D1%80%D0%BE%D0%B3%D0%BE%20%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%B8%20%D1%81%D1%83%D1%82%D0%BE%D0%BA!%20%D0%9D%D1%83%D0%B6%D0%BD%D0%B0%20%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D1%8C%20%D1%8E%D1%80%D0%B8%D1%81%D1%82%D0%B0..." target="_blank" class="widget-communication__item widget-communication__whatsapp">
      <img src="img/svg/WhatsApp.svg" alt="icon whatsApp">
    </a>
    <a href="#" target="_blank" class="widget-communication__item widget-communication__telegram">
      <img src="img/svg/telegram.svg" alt="icon telegram">
    </a>
  </div>
</header>
