<section class="law-firm">
  <div class="container">
    <div class="law-firm__inner" data-aos="fade-left" data-aos-once="true">
      <h2 class="title">Юридическая компания "Петербургское Право"</h2>
      <p class="subtitle">Юридическая компания в СПБ с идеальной репутацией и положительными отзывами</p>
      <div class="law-firm-content-box">
        <div class="law-firm-content-box__left">
          <h3 class="law-firm-content-box__title">Наша миссия - помогать людям добиваться справедливости</h3>
          <p class="law-firm-content-box__desc">
            К сожалению, большинство юридических компаний работает с целью получения максимальной прибыли: дают ложные гарантии, специально затягивают процесс, берут слишком много клиентов.
          </p>
          <p class="law-firm-content-box__desc">
            Всё это приводит к тому, что клиенты теряют много времени, денег и нервов.
          </p>
          <p class="law-firm-content-box__desc">
            Мы - одна из немногих юридических компаний, которая при работе с клиентами руководствуется принципами честности и открытости. А это значит: даем честную оценку перспективности дела, уделяем каждому клиенту максимум внимания и времени, а также боремся с недобросовестными компаниями до конца - до положительного заключения суда
          </p>
          <p class="law-firm-content-box__desc">
            Мы тесно сотрудничаем с адвокатами-партнерами по категории сложных дел, поэтому можем работать с тяжелыми жизненными ситуациями.
          </p>
        </div>
        <div class="law-firm-content-box__right">
          <img class="law-firm-content-box__img" src="https://thumb.tildacdn.com/tild3333-3765-4264-b561-313835663933/-/format/webp/2.jpg" alt="фотография юристов">
        </div>
      </div>
    </div>
  </div>
</section>
