<section class="legal-services" id="legal-services">
  <div class="container">
    <div class="legal-services__inner">
      <h2 class="title">Услуги юридической компании</h2>
      <p class="subtitle">Услуги юристов и адвокатов-партнеров в Санкт-Петербурге</p>
      <div class="legal-services-box">
        <article class="legal-services-box-item legal-services-box-item-trudovie">
          <a href="trudovyye-spory.html" class="legal-services-box-item__title">Трудовой юрист</a>
          <ul class="legal-services-box-list list-reset">
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Незаконное увольнение</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Задержка / невыплата зарплаты</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Восстановление на работе</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Производственная травма</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Жалоба на работодателя</a>
            </li>
          </ul>
          <a href="trudovyye-spory.html" class="legal-services-btn">Подробнее</a>
        </article>
        <article class="legal-services-box-item legal-services-box-item-trudovie">
          <a href="trudovyye-spory.html" class="legal-services-box-item__title">Трудовой юрист</a>
          <ul class="legal-services-box-list list-reset">
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Незаконное увольнение</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Задержка / невыплата зарплаты</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Восстановление на работе</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Производственная травма</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Жалоба на работодателя</a>
            </li>
          </ul>
          <a href="trudovyye-spory.html" class="legal-services-btn">Подробнее</a>
        </article>
        <article class="legal-services-box-item legal-services-box-item-trudovie">
          <a href="trudovyye-spory.html" class="legal-services-box-item__title">Трудовой юрист</a>
          <ul class="legal-services-box-list list-reset">
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Незаконное увольнение</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Задержка / невыплата зарплаты</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Восстановление на работе</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Производственная травма</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Жалоба на работодателя</a>
            </li>
          </ul>
          <a href="trudovyye-spory.html" class="legal-services-btn">Подробнее</a>
        </article>
        <article class="legal-services-box-item legal-services-box-item-trudovie">
          <a href="trudovyye-spory.html" class="legal-services-box-item__title">Трудовой юрист</a>
          <ul class="legal-services-box-list list-reset">
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Незаконное увольнение</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Задержка / невыплата зарплаты</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Восстановление на работе</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Производственная травма</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Жалоба на работодателя</a>
            </li>
          </ul>
          <a href="trudovyye-spory.html" class="legal-services-btn">Подробнее</a>
        </article>
        <article class="legal-services-box-item legal-services-box-item-trudovie">
          <a href="trudovyye-spory.html" class="legal-services-box-item__title">Трудовой юрист</a>
          <ul class="legal-services-box-list list-reset">
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Незаконное увольнение</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Задержка / невыплата зарплаты</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Восстановление на работе</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Производственная травма</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Жалоба на работодателя</a>
            </li>
          </ul>
          <a href="trudovyye-spory.html" class="legal-services-btn">Подробнее</a>
        </article>
        <article class="legal-services-box-item legal-services-box-item-trudovie">
          <a href="trudovyye-spory.html" class="legal-services-box-item__title">Трудовой юрист</a>
          <ul class="legal-services-box-list list-reset">
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Незаконное увольнение</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Задержка / невыплата зарплаты</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Восстановление на работе</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Производственная травма</a>
            </li>
            <li class="legal-services-box-list__item">
              <a href="#" class="legal-services-box-list__link">Жалоба на работодателя</a>
            </li>
          </ul>
          <a href="trudovyye-spory.html" class="legal-services-btn">Подробнее</a>
        </article>
      </div>
    </div>
  </div>

</section>
