<div class="modal">
  <div class="graph-modal">
    <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal-obz">
      <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
      <div class="graph-modal__content">
        <h3 class="modal__title">Закажите звонок</h3>
        <p class="modal__subtitle">Оставьте контакты и мы перезвоним Вам, чтобы подробно проконсультировать и ответить
          на все Ваши вопросы</p>
        <form class="form form4">
          <div class="form-group">
            <label class="visually-hidden" for="inp-name3">Как Вас зовут?</label>
            <input id="inp-name3" class="input-name input-name4 form-input form-input--modal" type="text" name="name"
                   placeholder="Как Вас зовут?">
          </div>
          <div class="form-group">
            <label class="visually-hidden" for="inp-number3">Введите Ваш номер</label>
            <input id="inp-number3" class="input-tel input-tel4 form-input form-input--modal" type="tel" name="number"
                   placeholder="+7 (999) 999-99-99">
          </div>

          <button class="consult-btn consult-btn--form consult-btn--modal" type="submit">Заказать звонок</button>
          <span class="form-policy-text form-policy-text--modal">100% защита данных, согласно 152-ФЗ. Нажимая на кнопку, Вы даете согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span>
        </form>
      </div>
    </div>

    <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal-consult">
      <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
      <div class="graph-modal__content">
        <h3 class="modal__title modal__title--consult">Бесплатная консультация</h3>
        <p class="modal__subtitle modal__subtitle--consult">Оставьте заявку и Вам перезвонит юрист, который бесплатно
          проконсультирует по Вашей ситуации, даст рекомендации и честный прогноз по перспективности дела</p>
        <form class="form form5 form--bottom">
          <div class="form-group">
            <label class="form-input-label" for="name-bottom2">Ваше имя:</label>
            <input class="input-name input-name5 form-input form-input--modal" id="name-bottom2" type="text"
                   placeholder="Как Вас зовут?">
          </div>
          <div class="form-group">
            <label class="form-input-label" for="tel-bottom1">Ваш телефон:</label>
            <input id="tel-bottom1" class="input-tel input-tel5 form-input form-input--modal" type="tel" name="number"
                   placeholder="+7 (999) 999-99-99">
          </div>
          <div class="form-group">
            <label class="form-input-label" for="textarea-bottom">Комментарий(не обязательно):</label>
            <textarea class="form-textarea form-textarea--modal" id="textarea-bottom"
                      placeholder="Опишите коротко Вашу ситуацию"></textarea>
          </div>
          <button class="consult-btn consult-btn--centered" type="submit">Получить консультацию</button>
          <span class="form-policy-text form-policy-text--centered">100% защита данных, согласно 152-ФЗ. Нажимая на кнопку, Вы даете согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span>
        </form>
      </div>
    </div>

    <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal-consult2">
      <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
      <div class="graph-modal__content">
        <h3 class="modal__title">Получить консультацию</h3>
        <p class="modal__subtitle">Оставьте контакты и мы перезвоним Вам, чтобы подробно проконсультировать и ответить
          на все Ваши вопросы</p>
        <form class="form form6">
          <div class="form-group">
            <label class="visually-hidden" for="inp-name1">Как Вас зовут?</label>
            <input id="inp-name1" class="input-name input-name6 form-input form-input--modal" type="text" name="name"
                   placeholder="Как Вас зовут?">
          </div>
          <div class="form-group">
            <label class="visually-hidden" for="inp-number1">Введите Ваш номер</label>
            <input id="inp-number1" class="input-tel input-tel6 form-input form-input--modal" type="tel" name="number"
                   placeholder="+7 (999) 999-99-99">
          </div>
          <button class="consult-btn consult-btn--form consult-btn--modal" type="submit">Заказать звонок</button>
          <span class="form-policy-text form-policy-text--modal">100% защита данных, согласно 152-ФЗ. Нажимая на кнопку, Вы даете согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</span>
        </form>
      </div>
    </div>

  </div>
</div>
