<section class="pretrial-banner">
  <div class="container">
    <div class="pretrial-banner__inner">
      <h2 class="title">В 80% случаев споры решаются в досудебном порядке</h2>
      <h3 class="subtitle">Продавцу выгоднее согласиться на Ваши условия, в противном случае у Вас будет основание в судебном порядке взыскать дополнительно штрафы, убытки и дополнительные расходы</h3>
     <div class="pretrial-banner-consult">
       <img class="pretrial-banner-consult__img" src="./img/tel.png" alt="icon phone">
       <p class="pretrial-banner-consult__desc">Получите консультацию юриста по защите прав потребителей</p>
       <a class="pretrial-banner-consult__link" href="tel:89999999999">+7(999)999-99-99</a>
     </div>

    </div>
  </div>
</section>
