<section class="price">
  <div class="container">
    <div class="price__inner" data-aos="zoom-in" data-aos-once="true">
      <h2 class="title">Стоимость услуг</h2>
      <h3 class="subtitle">Цены на услуги юристов и адвокатов партнеров в Санкт-Петербурге</h3>
      <ul class="price-list list-reset">
        <li class="price-item">
          <span class="price-item__text">Первичная консультация по телефону</span>
          <span class="price-item__sum price-item__sum-discount">0₽</span>
        </li>
        <li class="price-item">
          <span class="price-item__text">Первичная консультация в офисе</span>
          <span class="price-item__sum price-item__sum-discount">0₽</span>
        </li>
        <li class="price-item">
          <span class="price-item__text">Ведение дела "под ключ"</span>
          <span class="price-item__sum">от 5500₽</span>
        </li>  <li class="price-item">
        <span class="price-item__text">Составление искового заявления</span>
        <span class="price-item__sum">от 5500₽</span>
      </li>
        <li class="price-item">
          <span class="price-item__text">Составление искового заявления</span>
          <span class="price-item__sum">от 5500₽</span>
        </li>
        <li class="price-item">
          <span class="price-item__text">Помощь в исполнительном производстве</span>
          <span class="price-item__sum">от 5000₽</span>
        </li>
        <li class="price-item">
          <span class="price-item__text">Составление апелляционной/ кассационной жалобы</span>
          <span class="price-item__sum">от 10000₽</span>
        </li>
      </ul>
      <span class="price-list-info">
        *Точную цену на юридические услуги Вы можете узнать на консультации после анализа ситуации и определения объёма работы для положительного решения вашей проблемы
      </span>
    </div>
  </div>
</section>
