<section class="principles">
  <div class="container">
    <div class="principles__inner">
      <h2 class="title">Наши принципы</h2>
      <h3 class="subtitle">Во время ежедневной работы наши юристы руководствуются 4 принципами</h3>
      <ul class="principles-list list-reset">
        <li class="principles-item">
          <div class="principles-item__box-img">
            <img src="./img/principles1.png" alt="icon">
          </div>
          <div class="principles-item__box-content">
            <p class="principles-item__title">Сделаем всё от нас зависящее для достижения положительного результата</p>
            <p class="principles-item__desc">После заключения с Вами договора мы отработаем его на 100%, сделаем всё возможное для достижения положительного результата. С нами справедливость восторжествует, а Вы останетесь довольны</p>
          </div>
        </li>
        <li class="principles-item">
          <div class="principles-item__box-img">
            <img src="./img/principles2.png" alt="icon">
          </div>
          <div class="principles-item__box-content">
            <p class="principles-item__title">Сделаем всё от нас зависящее для достижения положительного результата</p>
            <p class="principles-item__desc">После заключения с Вами договора мы отработаем его на 100%, сделаем всё возможное для достижения положительного результата. С нами справедливость восторжествует, а Вы останетесь довольны</p>
          </div>
        </li>
        <li class="principles-item">
          <div class="principles-item__box-img">
            <img src="./img/principles3.png" alt="icon">
          </div>
          <div class="principles-item__box-content">
            <p class="principles-item__title">Сделаем всё от нас зависящее для достижения положительного результата</p>
            <p class="principles-item__desc">После заключения с Вами договора мы отработаем его на 100%, сделаем всё возможное для достижения положительного результата. С нами справедливость восторжествует, а Вы останетесь довольны</p>
          </div>
        </li>
        <li class="principles-item">
          <div class="principles-item__box-img">
            <img src="./img/principles4.png" alt="icon">
          </div>
          <div class="principles-item__box-content">
            <p class="principles-item__title">Сделаем всё от нас зависящее для достижения положительного результата</p>
            <p class="principles-item__desc">После заключения с Вами договора мы отработаем его на 100%, сделаем всё возможное для достижения положительного результата. С нами справедливость восторжествует, а Вы останетесь довольны</p>
          </div>
        </li>
      </ul>
      <div class="principles-chedk">
        <div class="principles-chedk-text">
          <div class="principles-chedk-text__title-box">
            <p class="principles-chedk-text__title"><span class="principles-chedk-text__title-dec">Работаем по принципу "ЧЭДК"</span> - честно, эффективно, добросовестно и качественно</p>
          </div>
          <p class="principles-chedk-text__desc">Во время ежедневной работы наши юристы руководствуются 4 принципами; мы считаем, что юридические услуги должны быть не только результативны, но с высочайшим сервисом и заботой о клиентах</p>
        </div>
      </div>
    </div>
  </div>
</section>
