<section class="responsibility">
  <div class="container">
    <div class="responsibility__inner">
      <h2 class="responsibility__title"><span class="responsibility__title-dec">Работаем по договору,</span> несем полную ответственность</h2>
      <p class="responsibility__subtitle">
        Цена нашим обещаниям - репутация компании и ответственность перед клиентами по договору
      </p>
      <div class="responsibility-box">
        <div class="responsibility-left">
          <img class="responsibility-left__img" src="https://thumb.tildacdn.com/tild6565-6662-4233-b734-666438333563/-/resize/360x/-/format/webp/_.png" alt="картинка договора">
        </div>
        <div class="responsibility-right">
          <p class="responsibility-right__desc">Перед заключением договора обсуждаем все детали и вместе с Вами определяем порядок оплаты</p>
          <ul class="responsibility-right__list list-reset">
            <li class="responsibility-right__item">
              <div class="responsibility-right__item-img-box">
                <img class="responsibility-right__item-img" src="https://thumb.tildacdn.com/tild3935-6535-4464-a462-386132346236/-/format/webp/_.png" alt="">
              </div>
              <div class="responsibility-right__item-desc">
                <p class="responsibility-right__item-title">Конфиденциальность</p>
                <p class="responsibility-right__item-subtitle">Гарантируем полную конфиденциальность</p>
              </div>
            </li>
            <li class="responsibility-right__item">
              <div class="responsibility-right__item-img-box">
                <img class="responsibility-right__item-img" src="https://thumb.tildacdn.com/tild3935-6535-4464-a462-386132346236/-/format/webp/_.png" alt="">
              </div>
              <div class="responsibility-right__item-desc">
                <p class="responsibility-right__item-title">Конфиденциальность</p>
                <p class="responsibility-right__item-subtitle">Гарантируем полную конфиденциальность</p>
              </div>
            </li>
            <li class="responsibility-right__item">
              <div class="responsibility-right__item-img-box">
                <img class="responsibility-right__item-img" src="https://thumb.tildacdn.com/tild3935-6535-4464-a462-386132346236/-/format/webp/_.png" alt="">
              </div>
              <div class="responsibility-right__item-desc">
                <p class="responsibility-right__item-title">Конфиденциальность</p>
                <p class="responsibility-right__item-subtitle">Гарантируем полную конфиденциальность</p>
              </div>
            </li>
            <li class="responsibility-right__item">
              <div class="responsibility-right__item-img-box">
                <img class="responsibility-right__item-img" src="https://thumb.tildacdn.com/tild3935-6535-4464-a462-386132346236/-/format/webp/_.png" alt="">
              </div>
              <div class="responsibility-right__item-desc">
                <p class="responsibility-right__item-title">Конфиденциальность</p>
                <p class="responsibility-right__item-subtitle">Гарантируем полную конфиденциальность</p>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
