<section class="reviews">
  <div class="container">
    <h2 class="title">Отзывы наших клиентов</h2>
    <p class="subtitle">Проверенные и честные отзывы с независимых сервисов</p>
    <div class="reviews-slider">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <img src="https://thumb.tildacdn.com/tild3339-6531-4866-b630-373733326162/-/format/webp/2.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://thumb.tildacdn.com/tild3339-6531-4866-b630-373733326162/-/format/webp/2.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="https://thumb.tildacdn.com/tild3339-6531-4866-b630-373733326162/-/format/webp/2.jpg" alt="">
          </div>

        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        
      </div>
    </div>
  </div>
</section>
