<section class="scheme">
  <div class="container">
      <h2 class="title">Схема работы</h2>
      <p class="subtitle">Простая схема работы с нашим юридическим агентством в СПб</p>
  <ul class="scheme-list list-reset">
    <li class="scheme-item">
      <div class="scheme-item__header">
        <img class="scheme-item__img" src="https://thumb.tildacdn.com/tild3466-6130-4334-b539-366465333832/-/resize/40x/-/format/webp/__1.png" alt="иконка">
        <span class="scheme-item__number">01</span>
      </div>
      <span class="scheme-item__title">Позвоните нам</span>
      <p class="scheme-item__desc">Подробно расскажите Вашу ситуацию и задайте вопросы юристу</p>
    </li>
    <li class="scheme-item">
      <div class="scheme-item__header">
        <img class="scheme-item__img" src="https://thumb.tildacdn.com/tild3466-6130-4334-b539-366465333832/-/resize/40x/-/format/webp/__1.png" alt="иконка">
        <span class="scheme-item__number">02</span>
      </div>
      <span class="scheme-item__title">Позвоните нам</span>
      <p class="scheme-item__desc">Подробно расскажите Вашу ситуацию и задайте вопросы юристу</p>
    </li>
    <li class="scheme-item">
      <div class="scheme-item__header">
        <img class="scheme-item__img" src="https://thumb.tildacdn.com/tild3466-6130-4334-b539-366465333832/-/resize/40x/-/format/webp/__1.png" alt="иконка">
        <span class="scheme-item__number">03</span>
      </div>
      <span class="scheme-item__title">Позвоните нам</span>
      <p class="scheme-item__desc">Подробно расскажите Вашу ситуацию и задайте вопросы юристу</p>
    </li>
    <li class="scheme-item">
      <div class="scheme-item__header">
        <img class="scheme-item__img" src="https://thumb.tildacdn.com/tild3466-6130-4334-b539-366465333832/-/resize/40x/-/format/webp/__1.png" alt="иконка">
        <span class="scheme-item__number">04</span>
      </div>
      <span class="scheme-item__title">Позвоните нам</span>
      <p class="scheme-item__desc">Подробно расскажите Вашу ситуацию и задайте вопросы юристу</p>
    </li>
  </ul>
  </div>
</section>
