<section class="services">
  <div class="container">
    <h2 class="title">Наши услуги</h2>
    <p class="subtitle">Юрист по трудовому праву поможет при незаконном увольнении, невыплате/задержке ЗП и разрешении
      других трудовых споров</p>
    <ul class="services-list list-reset">
      <li class="services-item" data-aos="fade-right">
        <img class="services-item__image" src="https://thumb.tildacdn.com/tild6434-3236-4430-a330-616136613135/-/cover/300x480/center/center/-/format/webp/Eq4ExMnW8AE98iM.jpg" alt="Фотография услуги">
        <div class="services-item__box">
          <h3 class="services-item__title">Незаконное увольнение</h3>
          <ul class="services-item__list list list-reset">
            <li class="services-item__item list-item">
              <p class="list-item__text list-item__text--services">Увольнение за прогулы</p>
            </li>
            <li class="services-item__item list-item">
              <p class="list-item__text list-item__text--services">Увольнение за прогулы</p>
            </li>
            <li class="services-item__item list-item">
              <p class="list-item__text list-item__text--services">Увольнение за прогулы</p>
            </li>
            <li class="services-item__item list-item">
              <p class="list-item__text list-item__text--services">Увольнение за прогулы</p>
            </li>

          </ul>
          <div class="services-item__info-box">
            <span class="services-item__price">от 1950 руб</span>
            <p class="services-item__price-desc">Подробная консультация бесплатно!</p>
          </div>
          <button type="button" class="consult-btn" data-graph-path="modal-consult2">Бесплатная консультация</button>
        </div>
      </li>
      <li class="services-item" data-aos="fade-left">
        <img class="services-item__image" src="https://thumb.tildacdn.com/tild6434-3236-4430-a330-616136613135/-/cover/640x200/center/center/-/format/webp/Eq4ExMnW8AE98iM.jpg" alt="Фотография услуги">
        <div class="services-item__box">
          <h3 class="services-item__title">Незаконное увольнение</h3>
          <ul class="services-item__list list list-reset">
            <li class="services-item__item list-item">
              <p class="list-item__text list-item__text--services">Увольнение за прогулы</p>
            </li>
            <li class="services-item__item list-item">
              <p class="list-item__text list-item__text--services">Увольнение за прогулы</p>
            </li>
            <li class="services-item__item list-item">
              <p class="list-item__text list-item__text--services">Увольнение за прогулы</p>
            </li>
            <li class="services-item__item list-item">
              <p class="list-item__text list-item__text--services">Увольнение за прогулы</p>
            </li>

          </ul>
          <div class="services-item__info-box">
            <span class="services-item__price">от 1950 руб</span>
            <p class="services-item__price-desc">Подробная консультация бесплатно!</p>
          </div>
          <button type="button" class="consult-btn" data-graph-path="modal-consult2">Бесплатная консультация</button>
        </div>
      </li>
      <li class="services-item" data-aos="fade-right">
        <img class="services-item__image" src="https://thumb.tildacdn.com/tild6434-3236-4430-a330-616136613135/-/cover/300x480/center/center/-/format/webp/Eq4ExMnW8AE98iM.jpg" alt="Фотография услуги">
        <div class="services-item__box">
          <h3 class="services-item__title">Незаконное увольнение</h3>
          <ul class="services-item__list list list-reset">
            <li class="services-item__item list-item">
              <p class="list-item__text list-item__text--services">Увольнение за прогулы</p>
            </li>
            <li class="services-item__item list-item">
              <p class="list-item__text list-item__text--services">Увольнение за прогулы</p>
            </li>
            <li class="services-item__item list-item">
              <p class="list-item__text list-item__text--services">Увольнение за прогулы</p>
            </li>
            <li class="services-item__item list-item">
              <p class="list-item__text list-item__text--services">Увольнение за прогулы</p>
            </li>

          </ul>
          <div class="services-item__info-box">
            <span class="services-item__price">от 1950 руб</span>
            <p class="services-item__price-desc">Подробная консультация бесплатно!</p>
          </div>
          <button type="button" class="consult-btn" data-graph-path="modal-consult2">Бесплатная консультация</button>
        </div>
      </li>
    </ul>
  </div>
</section>
