<section class="specified-situation">
  <div class="container">
    <div class="specified-situation__inner">
      <h2 class="title">Вы оказались в одной из указанных ситуаций?</h2>
      <h3 class="subtitle">У нас есть успешная юридическая практика в нижеуказанных сферах</h3>
      <div class="specified-situation-box">
        <ul class="specified-situation-box-list list-reset">
          <li class="specified-situation-box-item">
            <div class="specified-situation-box-item__box-img">
              <img src="./img/furniture.png" alt="icon" class="specified-situation-box-item__img">
            </div>
            <div class="specified-situation-box-item__box-text">
              <p class="specified-situation-box-item__title">Споры с мебельными компаниями</p>
              <a class="specified-situation-box-item__link" href="#">Подробнее</a>
            </div>
          </li>
          <li class="specified-situation-box-item">
            <div class="specified-situation-box-item__box-img">
              <img src="./img/furniture.png" alt="icon" class="specified-situation-box-item__img">
            </div>
            <div class="specified-situation-box-item__box-text">
              <p class="specified-situation-box-item__title">Споры с мебельными компаниями</p>
              <a class="specified-situation-box-item__link" href="#">Подробнее</a>
            </div>
          </li>
          <li class="specified-situation-box-item">
            <div class="specified-situation-box-item__box-img">
              <img src="./img/furniture.png" alt="icon" class="specified-situation-box-item__img">
            </div>
            <div class="specified-situation-box-item__box-text">
              <p class="specified-situation-box-item__title">Споры с мебельными компаниями</p>
              <a class="specified-situation-box-item__link" href="#">Подробнее</a>
            </div>
          </li>
          <li class="specified-situation-box-item">
            <div class="specified-situation-box-item__box-img">
              <img src="./img/furniture.png" alt="icon" class="specified-situation-box-item__img">
            </div>
            <div class="specified-situation-box-item__box-text">
              <p class="specified-situation-box-item__title">Споры с мебельными компаниями</p>
              <a class="specified-situation-box-item__link" href="#">Подробнее</a>
            </div>
          </li>
          <li class="specified-situation-box-item">
            <div class="specified-situation-box-item__box-img">
              <img src="./img/furniture.png" alt="icon" class="specified-situation-box-item__img">
            </div>
            <div class="specified-situation-box-item__box-text">
              <p class="specified-situation-box-item__title">Споры с мебельными компаниями</p>
              <a class="specified-situation-box-item__link" href="#">Подробнее</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
