<section class="team">
  <div class="container">
    <div class="team__inner">
      <h2 class="title">Наша команда юристов и адвокатов-партнеров</h2>
      <h3 class="subtitle">Консультации от ведущих юристов и адвокатов-партнеров в Санкт-Петербурге</h3>
      <div class="team-slider">
        <div class="swiper team-swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="team-card">
                <img class="team-card__img"
                     src="https://thumb.tildacdn.com/tild6534-3139-4931-b337-386333623730/-/cover/288x432/center/center/-/format/webp/_8.jpg"
                     alt="Фотография юриста">
                <div class="team-card-text-box">
                  <p class="team-card__job-title">Адвокат партнер</p>
                  <p class="team-card__name">Павлюченко Александр Викторович</p>
                  <div class="team-card__desc-box">
                    <p class="team-card__desc">В 2005 году окончил Рязанское воздушно-десантное командное училище. Более
                      8 лет служил в ВС РФ. Офицер запаса ВДВ.</p>
                    <p class="team-card__desc">В 2008 году окончил Санкт-Петербургскую Юридическую Академию, где была
                      присуждена квалификация «юрист» по специальности «юриспруденция»</p>
                    <p class="team-card__desc">Общий стаж практической деятельности в области юриспруденции — более 10
                      лет, 4 года из которых занимал руководящую должность в Управлении федеральной миграционной службы
                      по Санкт-Петербургу.</p>
                    <p class="team-card__desc">С 2015 года является практикующим адвокатом Международной коллегии
                      адвокатов, филиал «Клепикова и Партнеры»</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="team-card">
                <img class="team-card__img"
                     src="https://thumb.tildacdn.com/tild6534-3139-4931-b337-386333623730/-/cover/288x432/center/center/-/format/webp/_8.jpg"
                     alt="Фотография юриста">
                <div class="team-card-text-box">
                  <p class="team-card__job-title">Адвокат партнер</p>
                  <p class="team-card__name">Павлюченко Александр Викторович</p>
                  <div class="team-card__desc-box">
                    <p class="team-card__desc">В 2005 году окончил Рязанское воздушно-десантное командное училище. Более
                      8 лет служил в ВС РФ. Офицер запаса ВДВ.</p>
                    <p class="team-card__desc">В 2008 году окончил Санкт-Петербургскую Юридическую Академию, где была
                      присуждена квалификация «юрист» по специальности «юриспруденция»</p>
                    <p class="team-card__desc">Общий стаж практической деятельности в области юриспруденции — более 10
                      лет, 4 года из которых занимал руководящую должность в Управлении федеральной миграционной службы
                      по Санкт-Петербургу.</p>
                    <p class="team-card__desc">С 2015 года является практикующим адвокатом Международной коллегии
                      адвокатов, филиал «Клепикова и Партнеры»</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="team-card">
                <img class="team-card__img"
                     src="https://thumb.tildacdn.com/tild6534-3139-4931-b337-386333623730/-/cover/288x432/center/center/-/format/webp/_8.jpg"
                     alt="Фотография юриста">
                <div class="team-card-text-box">
                  <p class="team-card__job-title">Адвокат партнер</p>
                  <p class="team-card__name">Павлюченко Александр Викторович</p>
                  <div class="team-card__desc-box">
                    <p class="team-card__desc">В 2005 году окончил Рязанское воздушно-десантное командное училище. Более
                      8 лет служил в ВС РФ. Офицер запаса ВДВ.</p>
                    <p class="team-card__desc">В 2008 году окончил Санкт-Петербургскую Юридическую Академию, где была
                      присуждена квалификация «юрист» по специальности «юриспруденция»</p>
                    <p class="team-card__desc">Общий стаж практической деятельности в области юриспруденции — более 10
                      лет, 4 года из которых занимал руководящую должность в Управлении федеральной миграционной службы
                      по Санкт-Петербургу.</p>
                    <p class="team-card__desc">С 2015 года является практикующим адвокатом Международной коллегии
                      адвокатов, филиал «Клепикова и Партнеры»</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="team-card">
                <img class="team-card__img"
                     src="https://thumb.tildacdn.com/tild6534-3139-4931-b337-386333623730/-/cover/288x432/center/center/-/format/webp/_8.jpg"
                     alt="Фотография юриста">
                <div class="team-card-text-box">
                  <p class="team-card__job-title">Адвокат партнер</p>
                  <p class="team-card__name">Павлюченко Александр Викторович</p>
                  <div class="team-card__desc-box">
                    <p class="team-card__desc">В 2005 году окончил Рязанское воздушно-десантное командное училище. Более
                      8 лет служил в ВС РФ. Офицер запаса ВДВ.</p>
                    <p class="team-card__desc">В 2008 году окончил Санкт-Петербургскую Юридическую Академию, где была
                      присуждена квалификация «юрист» по специальности «юриспруденция»</p>
                    <p class="team-card__desc">Общий стаж практической деятельности в области юриспруденции — более 10
                      лет, 4 года из которых занимал руководящую должность в Управлении федеральной миграционной службы
                      по Санкт-Петербургу.</p>
                    <p class="team-card__desc">С 2015 года является практикующим адвокатом Международной коллегии
                      адвокатов, филиал «Клепикова и Партнеры»</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="team-card">
                <img class="team-card__img"
                     src="https://thumb.tildacdn.com/tild6534-3139-4931-b337-386333623730/-/cover/288x432/center/center/-/format/webp/_8.jpg"
                     alt="Фотография юриста">
                <div class="team-card-text-box">
                  <p class="team-card__job-title">Адвокат партнер</p>
                  <p class="team-card__name">Павлюченко Александр Викторович</p>
                  <div class="team-card__desc-box">
                    <p class="team-card__desc">В 2005 году окончил Рязанское воздушно-десантное командное училище. Более
                      8 лет служил в ВС РФ. Офицер запаса ВДВ.</p>
                    <p class="team-card__desc">В 2008 году окончил Санкт-Петербургскую Юридическую Академию, где была
                      присуждена квалификация «юрист» по специальности «юриспруденция»</p>
                    <p class="team-card__desc">Общий стаж практической деятельности в области юриспруденции — более 10
                      лет, 4 года из которых занимал руководящую должность в Управлении федеральной миграционной службы
                      по Санкт-Петербургу.</p>
                    <p class="team-card__desc">С 2015 года является практикующим адвокатом Международной коллегии
                      адвокатов, филиал «Клепикова и Партнеры»</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="team-card">
                <img class="team-card__img"
                     src="https://thumb.tildacdn.com/tild6534-3139-4931-b337-386333623730/-/cover/288x432/center/center/-/format/webp/_8.jpg"
                     alt="Фотография юриста">
                <div class="team-card-text-box">
                  <p class="team-card__job-title">Адвокат партнер</p>
                  <p class="team-card__name">Павлюченко Александр Викторович</p>
                  <div class="team-card__desc-box">
                    <p class="team-card__desc">В 2005 году окончил Рязанское воздушно-десантное командное училище. Более
                      8 лет служил в ВС РФ. Офицер запаса ВДВ.</p>
                    <p class="team-card__desc">В 2008 году окончил Санкт-Петербургскую Юридическую Академию, где была
                      присуждена квалификация «юрист» по специальности «юриспруденция»</p>
                    <p class="team-card__desc">Общий стаж практической деятельности в области юриспруденции — более 10
                      лет, 4 года из которых занимал руководящую должность в Управлении федеральной миграционной службы
                      по Санкт-Петербургу.</p>
                    <p class="team-card__desc">С 2015 года является практикующим адвокатом Международной коллегии
                      адвокатов, филиал «Клепикова и Партнеры»</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="team-card">
                <img class="team-card__img"
                     src="https://thumb.tildacdn.com/tild6534-3139-4931-b337-386333623730/-/cover/288x432/center/center/-/format/webp/_8.jpg"
                     alt="Фотография юриста">
                <div class="team-card-text-box">
                  <p class="team-card__job-title">Адвокат партнер</p>
                  <p class="team-card__name">Павлюченко Александр Викторович</p>
                  <div class="team-card__desc-box">
                    <p class="team-card__desc">В 2005 году окончил Рязанское воздушно-десантное командное училище. Более
                      8 лет служил в ВС РФ. Офицер запаса ВДВ.</p>
                    <p class="team-card__desc">В 2008 году окончил Санкт-Петербургскую Юридическую Академию, где была
                      присуждена квалификация «юрист» по специальности «юриспруденция»</p>
                    <p class="team-card__desc">Общий стаж практической деятельности в области юриспруденции — более 10
                      лет, 4 года из которых занимал руководящую должность в Управлении федеральной миграционной службы
                      по Санкт-Петербургу.</p>
                    <p class="team-card__desc">С 2015 года является практикующим адвокатом Международной коллегии
                      адвокатов, филиал «Клепикова и Партнеры»</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev team-swiper-button-prev"></div>
          <div class="swiper-button-next team-swiper-button-next"></div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination team-swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
