// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: 'Roboto', sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --rounded: 5px;


  --swiper-theme-color: var(--green-haze);

  // colors
  --light-color: #fff;
  --banana-mania: #fcdeba;
  --mercury: #e3e3e3;
  --mine-shaft: #212121;
  --green-haze: #00ae4b;
}
